# Python
__pycache__/
*.py[cod]
venv/
.venv/
env/
.pytest_cache/

# Secrets
.env
.env.*
!.env.example

# Database
*.db
*.sqlite
*.sqlite3

# React
node_modules/
dist/
build/
.vite/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log